{
	"sandbox": {
		"gatewayHost"  : "https://testgate.hypercharge.net"
		,"paymentHost" : "https://testpayment.hypercharge.net"
		,"user"        : "DOTO: insert your testgate.hypercharge.net merchant login here"
		,"password"    : "DOTO: insert your testgate.hypercharge.net merchant password here"
		,"channelTokens": {
			"USD" : "TODO: insert channel token here"
			,"EUR": "TODO: insert channel token here"
		}
	}
	,"development": {
		"gatewayHost"  : "http://gateway.hypercharge.dev"
		,"paymentHost" : "http://payment.hypercharge.dev"
		,"user"        : "alkjakdfjhwkjerhqkewruzqoiwenroquewhr"
		,"password"    : "oiaulnqwoeirnqoeiwfjodsafhadfasdfdsf"
		,"channelTokens": {
			"USD" : "a1fgd0a9a1723842065234a928550122374612c"
			,"EUR": "1e4ec876298195699178231498790698769876b"
		}
	}
}